@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  letter-spacing: 0px;
}

.container-global {
  width: 100%;
}
.container-home {
  width: 100%;
  background-image: url(../img/section1.jpg);
  background-attachment: fixed;
}
.heared-wraper {
  width: 100%;
  background-color: rgba(94, 93, 88, 0.6);
}

.container-header {
  max-width: 1160px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.header-logo {
  display: flex;
  align-items: center;
  padding-right: 305px;
}
.header-icon {
  padding: 27px 6px 27px 0px;
  text-decoration: none;
}

.header-icon-img {
  width: 58px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  background-color: #18cfab;
}

.logo-h {
  margin: 0 auto;
  height: 31px;
  width: 31px;
  font-size: 40px;
  font-weight: 700;
  line-height: 31px;
  color: #ffffff;
}

.header-logo-text {
  text-decoration: none;
  letter-spacing: 0px;
  line-height: 48px;
  font-size: 32px;
  text-align: center;
}
.logo-text-green {
  font-weight: 700;
  color: #18cfab;
}
.logo-text-white {
  font-weight: 300;
  color: white;
}

.header-main-menu {
  display: flex;
  align-items: center;
}

.nav-link-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-link {
  margin-right: 21px;
}

.nav-link-item {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  list-style: none;
  padding-top: 6px;
}

.search {
  padding-top: 3px;
  width: 15px;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.nav-link:hover,
.search:hover {
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
  line-height: 116px;
}

.nav-link-item:hover {
  color: #18cfab;
}

.container-wordpress {
  margin: 0 auto;
  display: flex;
  width: 798px;
  height: 213px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 251px;
}
.wordpress-text {
  line-height: 1px;
}

.wordpress-title {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  line-height: 1px;
}
.wordpress-title-white {
  color: #ffffff;
}
.wordpress-title-green {
  color: #18cfab;
}

.wordpress-main-text {
  text-transform: uppercase;
  font-size: 78px;
  font-weight: 700;
  color: #ffffff;
}
.wordpress-low-text {
  font-size: 34px;
  font-weight: 400;
  color: #d4d4d4;
}
.wp-button {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 129px;
  padding-bottom: 243px;
}
.button-explore,
.button-purchase,
.button-purchase-now,
.button-load-more.active {
  width: 169px;
  height: 63px;
  font-size: 15px;
  font-weight: 700;
  line-height: 32px;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}
.button-explore,
.button-purchase-now {
  background-color: #18cfab;
  margin-right: 26px;
}
.button-purchase {
  background-color: #00cbf6;
}

.button-purchase:hover,
.button-explore:hover,
.button-purchase-now:hover,
.button-load-more.active:hover {
  box-shadow: 0 -5px 0 #ffffff;
  transition: 0.5s;
}

.options {
  display: flex;
  width: 100%;
  height: 370px;
  align-items: center;
}

.box-rectangle-item {
  width: 25%;
  height: 360px;
  background: #1c2a33;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.box-black-rectangle {
  background: #1c2a33;
}

.box-green-rectangle {
  background: #18cfab;
}

.box-rectangle-image {
  width: 102px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rectangle-image-option {
  width: 61px;
  height: 100px;
}
.rectangle-image-customizable {
  width: 96px;
  height: 78px;
}

.rectangle-image-support {
  width: 62px;
  height: 99px;
}
.rectangle-image-device {
  width: 102px;
  height: 79px;
}
.rectangle-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding-bottom: 115px;
  padding-top: 47px;
}
.rectangle-text-green {
  color: #18cfab;
}

.rectangle-text-white {
  color: #ffffff;
}
.our-services {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.section-title {
  width: 100%;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #4e4e4e;
  text-align: center;
  padding-top: 83px;
  /* padding-bottom: 24px; */
  position: relative;
}

.section-title::after,
.section-title::before {
  content: "";
  bottom: -24px;
  left: 50%;
  margin-left: -39px;
  width: 78px;
  height: 1px;
  background: #18cfab;
  position: absolute;
}

.section-title::before {
  bottom: -29px;
  margin-left: -27px;
}

.container-servises-listing,
.container-work-listing {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.tabs {
  width: 100%;
  display: flex;
  align-items: center;
}

.tabs-title {
  width: 16.67%;
  background-color: #f8fcfe;
  color: #937341;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 39px;
  border: 1px solid #edefef;
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
}

.tabs-title.active {
  background-color: #18cfab;
  color: #ffffff;
}

.tabs-title.active:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 83px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 13.5px 0 13.5px;
  border-color: #18cfab transparent transparent transparent;
}

.tabs-content {
  padding-top: 27px;
}

.service-image-img {
  width: 192px;
  height: 139px;
}
.service-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  padding-left: 15px;
}
.tabs-panel {
  display: none;
}

.tabs-panel.active {
  display: flex;
}

.purchase {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 91px;
  background-image: url(../img/bg-section-pur.jpg);
  background-size: cover;
}
.purchase-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 127px;
}
.purchase-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  padding-bottom: 13px;
  text-transform: uppercase;
  color: #18cfab;
}
.purchase-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  color: #d8d8d8;
  padding-bottom: 67px;
}

.button-purchase-now {
  margin-bottom: 127px;
}

.our-amazing-work,
.client-feedback {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9edef;
}
.container-work-listing {
  max-width: 1140px;
}
.our-work-title {
  padding-top: 95px;
}

.tabs-work {
  max-width: 600px;
  display: flex;
  align-items: center;
}

.tabs-title-work {
  margin: 0 auto;
  background-color: #f8fcfe;
  color: #717171;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 42px;
  border: 1px solid #dadada;
  display: flex;
  justify-content: center;
  padding: 6px 15px;
  position: relative;
}
.tabs-work :first-child {
  padding: 6px 28px;
}

.tabs-title-work.active {
  border: 2px solid #18cfab;
  color: #18cfab;
}

.tabs-panel-work {
  width: 285px;
  height: 206px;
  display: none;
}

.tabs-panel-work.active {
  width: 285px;
  height: 206px;
  display: block;
}

.tabs-content-work {
  display: flex;
  width: 100%;
  padding-top: 70px;
  list-style: none;
  text-decoration: none;
  flex-wrap: wrap;
}
.creative-design {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-top: 2px solid #18cfab;
  width: 285px;
  height: 206px;
}

.container-icon-design {
  padding-top: 42px;
  display: flex;
}
.icon {
  position: relative;
}
.icon:hover .icon-svg {
  fill: #18cfab;
}
.comb-shape1 {
  position: absolute;
  top: 10px;
  right: 13px;
}
.comb-shape2 {
  position: absolute;
  top: 8px;
  right: 16px;
}
.icon-arrow {
  position: absolute;
  top: 74px;
  right: 71px;
}
.creative-design-top {
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  color: #18cfab;
  text-transform: uppercase;
  padding-top: 25px;
}
.creative-design-bottom {
  font-size: 12px;
  font-weight: 300;
  line-height: 25px;
  color: #8a8a8a;
  padding-bottom: 24px;
}

.work-image-img {
  display: none;
}

.work-image-img.active {
  display: block;
}

.button-load-more.active {
  background-color: #18cfab;
  margin-top: 70px;
  margin-bottom: 107px;
  display: block;
}

.button-load-more {
  display: none;
}
.breaking-news {
  max-width: 1160px;
  margin: 0 auto;
}
.container-bn-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}

.bn-content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 265px;
}
.bn-content-sl {
  margin-top: 43px;
  margin-bottom: 130px;
}

.bn-time-hover {
  width: 68px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #203e38;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #ffffff;
}

.bn-content-link {
  text-decoration: none;
  text-align: center;
}

.bn-content-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  color: #717171;
}

.bn-content:hover .bn-content-title {
  color: #18cfab;
}
.bn-content:hover .bn-time-hover {
  background-color: #18cfab;
}

.bn-content-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 39px;
  color: #777777;
}

.client-feedback {
  background-image: url(../img/section3.jpg);
}

.client-feedback-title {
  color: #ffffff;
  padding-top: 98px;
}
.container-client-feedback {
  max-width: 1160px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.client-feedback-icon {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 36px;
}
.client-feedback-text {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: #bbbbbb;
}

.wrapper-big-slider {
  width: 608px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 37px;
}

.slider-big {
  padding: 0px 60px;
}

.si-container {
  position: relative;
  display: flex;
  padding-top: 80px;
}

.big-slider__item {
  width: 143px;
  height: 143px;
  border-radius: 50%;
  border: 7px solid #0c3a31;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
}

.big-slider-img {
  width: 147px;
  height: 147px;
}
.slider-text {
  position: absolute;
  top: 0;
  left: 13px;
}
.s-surname {
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  color: #18cfab;
  text-transform: uppercase;
}
.s-position {
  font-size: 13px;
  font-weight: 300;
  line-height: 27px;
  color: #bbbbbb;
}

.slider-big .slick-arrow {
  position: absolute;
  bottom: 118px;
  margin: -29px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #bbbbbb;
  outline: none;
}
.slider-big .slick-arrow.slick-prev {
  left: -30px;
  background: url("../img/sl-arrow_l.svg") 50% / 30% no-repeat;
}
.slider-big .slick-arrow.slick-next {
  right: -30px;
  background: url("../img/sl-arrow_r.svg") 50% / 30% no-repeat;
}

.slider-big.slick-slider {
  width: 100%;
}

.slider-big .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.slider-big .slick-dots li {
  padding-top: 50px;
  list-style: none;
  margin: 0px 15px;
}

.slider-big .slick-dots li:nth-child(1) button {
  background-image: url(../img/1.jpeg);
  background-size: contain;
}
.slider-big .slick-dots li:nth-child(2) button {
  background-image: url(../img/2.jpeg);
  background-size: contain;
}
.slider-big .slick-dots li:nth-child(3) button {
  background-image: url(../img/3.jpeg);
  background-size: contain;
}
.slider-big .slick-dots li:nth-child(4) button {
  background-image: url(../img/4.jpeg);
  background-size: contain;
}
.slider-big .slick-dots li:nth-child(5) button {
  background-image: url(../img/5.jpeg);
  background-size: contain;
}
.slider-big .slick-dots li:nth-child(6) button {
  background-image: url(../img/6.jpeg);
  background-size: contain;
}
.slider-big .slick-dots button {
  font-size: 0;
  width: 66px;
  height: 66px;
  background-color: #fff;
  border-radius: 50%;
  border: 4px solid #0c3a31;
  cursor: pointer;
}
.slider-big .slick-arrow.slick-prev:hover,
.slider-big .slick-arrow.slick-next:hover {
  background-color: #18cfab;
  border: none;
}
.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
}
.slick-slider {
  max-width: 265px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #22353f;
  margin-top: 5px;
}

.footer-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  padding-top: 48px;
  padding-bottom: 48px;
  color: #aeaeae;
}
